@model AlbumRegister.Models.AlbumGenreViewModel

@{
    ViewData["Title"] = "Album Details";
}

<div class="p-4"></div>

<form asp-controller="Home" asp-action="Album" method="get">
    <p>
        <select asp-for="AlbumGenre" asp-items="Model.Genres">
            <option value="">All Genres</option>
        </select>

        <label>Title: <input type="text" asp-for="SearchString" /></label>
        <input type="submit" value="Filter" />
    </p>
</form>

<div class="p-2"></div>


<h4 class="bg-primary text-white text-center p-2">Albums</h4>

<div class="p-2"></div>

<table class="table table-sm table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Artist</th>
            <th>Genre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Album p in Model.Albums ?? new List<Album>()) {
            <tr>
                <td>@p.AlbumId</td>
                <td>@p.Title</td>
                <td>@p.Artist</td>
                <td>@p.Genre?.GenreName</td>
                <td class="text-center">
                    <a asp-action="Details" asp-route-id="@p.AlbumId"
                       class="btn btn-sm btn-info">
                        Details
                    </a>
                    <a asp-action="Edit" asp-route-id="@p.AlbumId"
                       class="btn btn-sm btn-warning">
                        Edit
                    </a>
                    <a asp-action="Delete" asp-route-id="@p.AlbumId"
                       class="btn btn-sm btn-danger">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Create</a>

<div class="p-2"></div>

<div page-model="@Model.PagingInfo" page-action="Album"
page-classes-enabled="true" page-class="btn"
page-class-normal="btn-outline-dark"
page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>